<div class="grid" style="margin-top: 5rem;">
    <div class="col-12">
        <div class="grid flex justify-content-center">
            <div class="col-7">
                <input style="width: 100%;" type="text" pInputText placeholder="Search..." [(ngModel)]="searchText" >
            </div>
        </div>
    </div>
</div>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-dataView #dv [value]="products | search: searchText" 
                [layout]="layout" [rows]="6" [paginator]="true" 
                [sortField]="sortField" [sortOrder]="sortOrder"
                (onChangeLayout)="handleLayoutChange($event)">
                    <ng-template pTemplate="header">
                        <div class="flex justify-content-end">
                            <p-dropdown [options]="categories" placeholder="Filter by category" (onChange)="filterByCategory($event)" styleClass="mr-2 md:mb-0" />
                            <p-dropdown [options]="sortOptions" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="mr-2 md:mb-0" />
                            <p-dataViewLayoutOptions  />
                        </div>
                    </ng-template>
                    <ng-template pTemplate="list" let-products>
                        <app-product-card [products]="products" [currency]="currency" [layout]="layout" (addProductEvent)="addProduct($event)" ></app-product-card>
                    </ng-template>
                    <ng-template let-product pTemplate="grid" let-products>
                        <app-product-card [products]="products" [currency]="currency" [layout]="layout" (addProductEvent)="addProduct($event)" ></app-product-card>
                    </ng-template>
            </p-dataView>
        </div>
    </div>
</div>
<p-toast />