<div class="grid">
    <div class="col-12" style="margin-top: 3rem;">
        <p-steps [model]="items" [activeIndex]="active" />
    </div>
    <div class="col-12" >
        <app-cart-product *ngIf="active == 0" [allProducts]="allProducts" (nextEvent)="this.active = 1;" ></app-cart-product>
        <app-paiement-info *ngIf="active == 1" [paymentData]="paymentData" (validatePaymentEvent)="setPayment($event)" (backEvent)="this.active = 0;" ></app-paiement-info>
        <app-paiement-review *ngIf="active == 2" [paymentData]="paymentData" (backEvent)="this.active = 1;"  (validateCommandEvent)="validateCommand()" ></app-paiement-review>
    </div>
</div>